# Dependencies
node_modules/

# Builds
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.production.local

# Logs
*.log
logs/
npm-debug.log*

# Databases (générées par TypeORM + seed)
*.db

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Divers
.trunk/
